.toolbox{
    border: 1px solid slateblue;
    border-radius: 4px;
    background-color: darkblue;
    height: 600px !important;
    width: 140px;
    display: inline-block;
    margin-left: 30px;
    float: left;
}

.title{
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}