.fabricaElements {
    width: 100%;

}

.espacioProvisorio{
    width: 30%; 
    display: inline-block;
    float: left;
    height: 600px;
}

.headerScore {
    height: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: bold;
    padding-top: 20px;
    color: darkgoldenrod;
}